<!DOCTYPE html>

<html>

<head>
    <title>Estatus Servicio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../estilos/eservicio.css" rel="stylesheet" type="text/css">
    <link href="../estilos/estilos.css" rel="stylesheet" type="text/css">
	<link href="../estilos/usuario.css" rel="stylesheet" type="text/css">
    <link href="../estilos/footer.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!--Header -->
<%- include('headerUser') %>
	<span class="e000">Tu status de servicio social</span>
    <span class="e001">Contáctanos para cualquier duda</span>
    <span class="e002">ayudaservicio@tec.mx</span>
    <div class="rec1"></div>
    <div class="rec2"></div>
    <div class="logo"></div>

    <div class=e979_253>
        <div class="e923_486"></div>
        <div class="e923_487"></div>
        <div class="e923_488"></div>
        <div class="e923_489"></div>
        <div class="e923_490"></div>
        <div class="e923_491"></div>
        <div class="e923_492"></div>
        <div class="e923_493"></div>
        <div class="e923_494"></div>
        <div class="e923_495"></div>
        <div class="e923_517"></div>
        <div class="e923_518"></div>
        <div class="e923_519"></div>
        <div class="e923_520"></div>
        <div class="e923_521"></div>
        <div class="e923_522"></div>
        <div class="e923_523"></div>
        <div class="e923_524"></div>
        <div class="e923_525"></div>
        <div class="e923_496"></div>
        <div class="e923_497"></div>
        <div class="e923_498"></div>
        <div class="e923_499"></div>
        <div class="e923_500"></div>
        <div class="e923_501"></div>
        <div class="e923_502"></div>
        <div class="e923_503"></div>
        <div class="e923_504"></div>
        <div class="e923_505"></div>
        <div class="e923_506"></div>
        <div class="e923_507"></div>
        <div class="e923_508"></div>
        <div class="e923_509"></div>
        <div class="e923_510"></div>
        <div class="e923_511"></div>
        <div class="e923_512"></div>
        <div class="e923_513"></div>
        <div class="e923_514"></div>
        <div class="e923_515"></div>
        <div class="e923_526"></div>
        <div class="e923_527"></div>
        <div class="e923_528"></div>
        <div class="e923_529"></div>
        <div class="e923_530"></div>
        <div class="e923_531"></div>
        <div class="e923_532"></div>
        <div class="e923_533"></div>
        <div class="e923_534"></div>
        <div class="e923_535"></div>
        <div class="e923_536"></div>
        <div class="e923_537"></div>
        <div class="e923_538"></div>
        <div class="e923_539"></div>
        <div class="e923_540"></div>
        <div class="e923_541"></div>
        <div class="e923_542"></div>
        <div class="e923_543"></div>
        <div class="e923_544"></div>
        <div class=e979_248>
          <div class=e928_648>
            <div class="e923_516"></div>
            <div class="e923_545"></div>
          </div>
        </div>
      </div>

</head>


<body>
    
    
    <div class="e924_629">
        <span class="e923_611">Matrícula:</span><span class="e923_613">Periodo</span><span class="e923_612"> <%= usuarios.correo[0].toUpperCase() %> 
			<%= usuarios.correo[1] %> <%= usuarios.correo[2] %> <%= usuarios.correo[3] %> <%= usuarios.correo[4] %> <%= usuarios.correo[5] %>
			 <%= usuarios.correo[6] %> <%= usuarios.correo[7] %> <%= usuarios.correo[8] %></span><span class="e923_620">520 de 480</span><span class="e923_609">Bienvenido:  <%= usuarios.nombre %></span>
        <span class="e923_610">Servicio social acreditado</span><span class="e923_615">Estatus Académico</span><span class="e923_618">Horas Acreditadas de Servicio Social</span><span class="e923_621">Servicio Social Ciudadano</span>
        <span class="e923_623">Servicio Social Profesional</span><span class="e923_622">520 Hrs</span><span class="e923_624">0 Hrs</span><span class="e923_614">Agosto - Diciembre 2021</span><span class="e923_617">Alumno Regular</span>
        <div class="e923_619"></div>
        <div class="e923_625"></div>
        <div class="e923_626"></div>
        <span class="e923_627">
            Aviso General<br />
            <br />

            Bienvenid@ al nuevo Módulo de Servicio Social SIASS 4.0 donde podrás ver el avance de tu servicio social a través del Historial, ver la oferta de los proyectos en los cuales te puedes inscribir y poder aportar tus conocimientos
            en conjunto con la Organización para resolver una problemática social, y estar informado de los eventos que dé a conocer el responsable de Servicio social, éxito en este periodo.
        </span>
    </div>
</body>
<!--Footer -->
<%- include('footer') %>

</html>